<link rel="stylesheet" href="~/css/User/Details.css" />

@model RealMadridWebApp.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <div id="container" class="row">
        <div class="col-sm-5">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CreationDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreationDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
            </div>
        </div>
        <div id="tickets" class="col-sm-7">
            <h3>Purchased Tickets</h3>
            <br />
            @if (Model.Matches.Count > 0) {
                <div class="tableDiv">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Matches[0].Team)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Matches[0].Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Matches[0].Competition.TicketPrice)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var match in Model.Matches) {
                                <tr>
                                    <td>
                                        <img class="ticketImage" src="~/Images/Users/Details/Ticket.png"/>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => match.Team.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => match.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => match.Competition.TicketPrice)
                                    </td>
                                    <td>
                                        <a class="btn btn-success" asp-controller="Matches" asp-action="Details" asp-route-id=@match.Id>View</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            } else {
                <p>No tickets have been purchased yet.</p>
            }
        </div>
    </div>
</div>
