<link rel="stylesheet" href="~/css/Stadium/Details.css" />

@model RealMadridWebApp.Models.Stadium

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stadium</h4>
    <hr />
    <div class="container detailsContainer">
        <div class="row">
            <div class="col-6 col-lg-4">
                <div class="container detailsContainer">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Capacity)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Capacity)
                        </dd>
                        <dt class="col-sm-12">
                            Current Temperature
                        </dt>
                        <dd id="temperatureDisplay" class="col-sm-12">
                            @if (@ViewBag.temperature != null) {
                                <i id="tempIcon" temperature="@ViewBag.temperature" class="bi"></i>
                                <h3 id="tempTitle">@ViewBag.temperature °C</h3>
                            } else { 
                                <h3>N/A</h3>
                            }
                        </dd>

                    </dl>
                    <div class="row">
                        <div class="col-12">
                            <img class="stadiumImage" src="@Model.ImagePath" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-8">
                <div id="map" lat="@Model.Latitude" lng="@Model.Longitude"></div>
            </div>
        </div>
    </div>
</div>

<div>
    @if (Context.User.IsInRole(UserType.Admin.ToString())
    || Context.User.IsInRole(UserType.Manager.ToString())) {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @:|
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> @:|
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <!-- Bing Maps API script -->
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=initMap&key=AoCfRwsXujp9SsMt-PzqwDbn9_ZZ942gAPuKWvSvCfT_3KCMXuKb1LoWPIsxN7Wi' async defer></script>
    <script src="~/js/Stadium/Details.js"></script>
}
